body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--topic-color);
}
:root {
  --topic-color: #212121;
  --black-logo: #000000;
  --text-color: #757575;
  --button-color: #2196f3;
  --main-background-color: #f5f5f5;
  --main-background-color-second: #ffffff;
  --hero-color: #2f303a;
  --footer-link-second-color: rgba(255, 255, 255, 0.6);
}
