.footer__address {
  color: var(--main-background-color-second);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer__link {
  color: var(--footer-link-second-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--button-color);
  }
}

.footer__list:not(:last-child) {
  margin-bottom: 12px;
}
