.advantages {
  padding-bottom: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 600px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--main-background-color);
    @media screen and (max-width: 767px) {
      width: auto;
      height: 120px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: auto;
      height: 120px;
    }
  }
  &__topic {
    color: var(--topic-color);
    font-size: 14px;
    line-height: 1.14;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    @media screen and (max-width: 767px) {
      text-align: justify;
    }
  }
}
.advantages__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
}
.advantages__item:not(:last-child) {
  padding-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}
.advantages__item:last-child {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}
