.burger-menu {
  width: 100%;
  max-width: 480px;
  // height: 796px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--main-background-color-second);
  position: absolute;
  top: 0;
  left: 0;

  display: none;
}
.burger-menu__button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;

  border: none;
  outline: none;

  padding-top: 21px;
  padding-right: 25px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--button-color);
  }
}

.burger-list {
  list-style: none;

  &__item:not(:last-child) {
    padding-bottom: 32px;
  }

  &__nav {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__nav:hover,
  &__nav:focus {
    color: var(--button-color);
  }
}
.burger-contact {
  padding-top: 306px;
  list-style: none;

  &__item--margin {
    padding-bottom: 32px;
  }

  &__info {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__info:hover,
  &__info:focus {
    color: var(--button-color);
  }
  &__info--mod {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.burger-social {
  padding-top: 64px;
  padding-right: 83px;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  // gap: 20px;

  &__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &__item:last-child {
    border: none;
  }
  &__item:not(:first-child) {
    padding-left: 10px;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: #2196f3;
    text-decoration: none;
  }
}
.burger-menu.is-open {
  display: block;
}
