.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  &__link {
    display: flex;
    align-items: center;

    color: var(--text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--button-color);
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
