.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  &__item {
    color: var(--topic-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    position: relative;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:focus {
    color: var(--button-color);
  }
}

.nav-links__item--current {
  color: var(--button-color);
}

.nav-links__item--current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  background: var(--button-color);
  border-radius: 2px;
}
