.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header-base.jpg');

  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-mobile.jpg');
    width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 480px 400px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-mobile@2x.jpg');
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-tablet.jpg');
    width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 768px 400px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-base@2x.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__logo {
    color: var(--main-background-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;

    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 42px;
    }
  }
  &__button {
    background-color: var(--button-color);
    cursor: pointer;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 4px;
  }
  &__text {
    color: var(--main-background-color-second);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
  }
}
