.logo {
  color: var(--black-logo);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  &__firstpart {
    color: var(--button-color);
  }
}
