.topic-promo {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  &__image {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.thumb {
  position: relative;

  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-background-color-second);
  }
}
