.portfolio {
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: 370px;
  border: 1px solid #eeeeee;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline-style: none;
  }
}

.portfolio__card {
  padding: 20px 24px;
}

.portfolio__topic {
  color: var(--topic-color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.portfolio__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__wrapper {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}
.portfolio__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: var(--main-background-color-second);
}
.portfolio__link:hover .portfolio__wrapper {
  transform: translateY(0);
}
