.filter-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;

  &__item {
    background-color: var(--main-background-color);
    color: var(--topic-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.filter-button__item:hover,
.filter-button__item:focus {
  background-color: var(--button-color);
  color: var(--main-background-color-second);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
