.team {
  background-color: var(--main-background-color);

  &__logo {
    color: var(--topic-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }
}

.team__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px 0 30px 0;
}

.team__topic {
  color: var(--topic-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 10px;
}
.team__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* padding-bottom: 30px; */
}
